<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="template/default/css/standard.css" type="text/css" />
        <link rel="stylesheet" href="template/default/css/notifications.css" type="text/css" />
        <link rel="stylesheet" href="template/default/css/livetiles.css" type="text/css" />
		<script src="template/default/js/jquery-2.1.1.js"></script>
		<script src="template/default/js/jquery-ui-1.10.4.js"></script>
        <script src="template/default/js/jq_cookie.js"></script>
        <script src="template/default/js/js_functions.js"></script>
		<title>Team CdN - Multigaming since 2005</title>
	</head>
	<body>