<style type="text/css">

.backend_cats_wrapper ul
{
	margin:5px;
	padding:5px;
	float:left;
	list-style-type:none;
	display:table-cell;
	width:30%;
	min-height:200px;
	border:1px solid #dddee0;
	background-color:#fff;
	border-radius:5px;
}
.backend_cats_wrapper li
{
	display:block;
}
li#permissions
{
	
}
.backend_cats_wrapper a
{
	width:100%;
	line-height:30px;
	display:inline-block;
}
.backend_cats_wrapper a:hover
{
	background-color:#EEE;
	text-decoration:none;
}
.backend_cats_wrapper
{
	
}

</style>

<h1>Systemeinstellungen</h1>
<div class="step_line"></div>
<div class="backend_cats_wrapper">
	<ul>
		<h4 style="margin-bottom:5px;">Sicherheit</h4>
		<li id="ressources">
			<a href="#">
				<img src="template/default/gfx/backend/resources.png" style="float:left;">Ressourcen verwalten
			</a>
		</li>
		<li id="permissions">
			<a href="#">
				<img src="template/default/gfx/backend/permissions.png" style="float:left;">Rechte verwalten
			</a>
		</li>
		<li id="roles">
			<a href="#">
				<img src="template/default/gfx/backend/roles.png" style="float:left;">Rollen verwalten
			</a>
		</li>
	</ul>
	<ul>
	<h4 style="margin-bottom:5px;">Gruppen</h4>
		<li>
        	<a href="#">
				<img src="template/default/gfx/backend/usergroup.png" style="float:left;">Gruppen verwalten
			</a>
        </li>
	</ul>
	<ul>
	<h4 style="margin-bottom:5px;">Benutzer</h4>
		<li>
            <a href="#">
				<img src="template/default/gfx/backend/user.png" style="float:left;">Benutzer verwalten
			</a>
        </li>
	</ul>
    <ul>
	<h4 style="margin-bottom:5px;">Men&uuml;</h4>
		<li>
            <a href="#">
				<img src="template/default/gfx/backend/view_menu_item.png" style="float:left;">Men&uuml;punkte verwalten
			</a>
        </li>
		<li>
            <a href="?site=menu_item&action=add">
				<img src="template/default/gfx/backend/add.png" style="float:left;">Neuen Men&uuml;punkt erstellen
			</a>
        </li>
	</ul>
    <ul>
	<h4 style="margin-bottom:5px;">Content Management</h4>
		<li>
            <a href="#">
				<img src="template/default/gfx/backend/view_boards.png" style="float:left;">Boards verwalten
			</a>
        </li>
        <li>
            <a href="#">
				<img src="template/default/gfx/backend/view_topics.png" style="float:left;">Themen verwalten
			</a>
        </li>
        <li>
            <a href="?site=adminboards&action=add">
				<img src="template/default/gfx/backend/add.png" style="float:left;">Board erstellen
			</a>
        </li>
		<li>
            <a href="?site=admintopics&action=add">
				<img src="template/default/gfx/backend/add_topic.png" style="float:left;">Thema erstellen
			</a>
        </li>
	</ul>
	<div class="clearing"></div>
</div>